body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(45deg ,rgba(255, 0, 0, 0.507) , rgba(255, 255, 0, 0.521) )  ,url('/assets/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    /* background-blend-mode: overlay; */
    background-attachment: fixed;
}

header {
    background-color: blueviolet;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

nav {
    background-color: #333;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    margin: 0;
    display: inline-block;
}

nav ul li a {
    color: white;
    padding: 14px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #ddd;
    color: black;
}

main {
    padding: 2rem;
    padding-bottom: 0 !important;
    /* background-color: #f4f4f4; */
    text-align: center;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    padding: 1rem;
    margin-bottom: 1rem;
}

.card img {
    max-width: 100%;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    height: 120px;
    bottom: 0;
}

img {
    width: 250px;
}

p {
    margin-bottom: 10px;
    margin-left: 30px;
    width: 30%;
    text-align: justify;
    display: inline-block;
}

article {
    display: inline-block;
    width: 300px;
    text-align: justify;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(240, 255, 255, 0.61);
    height: 338px;
    margin-left: 5px;
    margin-bottom: 120px;
}

article h1 {
    margin: 5px;
}

#servicesBox {
    width: 500px;
    display: inline-block;
    text-align: center;
    list-style-type: circle;
    background-color: rgba(240, 255, 255, 0.61);
    padding: 30px;
    border-radius: 20px;
}

#servicesBox li {
    background-color: aqua;
    padding: 20px;
    margin: 5px 0 5px 0;
}

#servicesBox button {
    width: 100px;
    height: 50px;
    background-color: blueviolet;
    display: inline-block;
    vertical-align: middle;
}

#servicesBox div {
    width: 100px;
    height: 50px;
    background-color: blueviolet;
    display: inline-block;
    vertical-align: middle;
    line-height: 50px;
}

#servicesBox img {
    width: 30px;
}

#servicesBox .imagBox {
    line-height: 4.5;
}
#servicesBox input{
    width: 85%;
    border: none;
    background-color: transparent;
    box-shadow: 0 0 10px black;
    border-radius: 50px;
}

.indexImg{
    width: 400px;
    border: 3px greenyellow solid;
    border-radius: 100%;
    transition: 500ms;
    opacity: 50%;
}
.indexImg:hover{
    width: 500px;
    border: 3px red solid;
    box-shadow: 0 0 50px red;
    opacity: 100%;
}

.indexInput{
    display: block;
    text-align: center;
    margin-bottom: 30px;
}
.indexInput input{
    display: inline-block;
    background: none;
    border: none;
    border-bottom: 2px solid black;
}



